<!DOCTYPE html>
<html>
  <head>
    <title>PokemonBattleRecorder</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pokemons" %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
